# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# For current
build/
data/
result/
batchFiles/
scripts/across_node_strong
scripts/across_node_weak
scripts/single_node_strong
scripts/single_node_weak
.vscode/
